In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"SMARTPHONES DATA.csv")

df.head(10)
df.info()

df.drop(columns=['rear_camera', 'front_camera'], inplace=True)
df['battery_capacity'] = df['battery_capacity'].fillna(df['battery_capacity'].median())

categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             836 non-null    object
 1   model             836 non-null    object
 2   colour            831 non-null    object
 3   original_price    836 non-null    int64
 4   discounted_price  836 non-null    int64
 5   ratings           836 non-null    float64
 6   no of persons     836 non-null    int64
 7   reviews           836 non-null    int64
 8   memory            762 non-null    float64
 9   storage           820 non-null    float64
 10  processor         698 non-null    object
 11  rear_camera       836 non-null    object
 12  front_camera      707 non-null    object
 13  display_size      836 non-null    float64
 14  battery_capacity  778 non-null    float64
 15  battery_type      477 non-null    object
dtypes: float64(5), int64(4), object(7)
memory usage: 104.6+ KB
brand                0
model                0
colour               0
original_price       0
discounted_price     0
ratings              0
no of persons        0
reviews              0
memory              74
storage             16
processor            0
display_size         0
battery_capacity     0
battery_type         0
dtype: int64

C:\Users\jayad\AppData\Local\Temp\ipykernel_16584\1248351611.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)